CMakeCache.txt
CMakeFiles/
tests/dane-plug
tests/iptest
tests/ssl-test
tests/unbound-test-dnssec
tests/dnssec-plug
FireBreath/
Makefile
Makefile.Dlin
Makefile.Dmac
Makefile.Dwin
Makefile.Tlin
Makefile.Tmac
Makefile.Twin
add-on/firefox2/install.rdf
add-on/firefox2/plugins/
cmake_install.cmake
libs/
libwin/
libswin/
dll_build/
builds/
packages/
plugins-lib/
add-on/ie2/DNSSECToolbar/Debug/
add-on/ie2/DNSSECToolbar/ReleaseMinSize/
add-on/ie2/DNSSECToolbar/IEdnssec.sdf
ie/DNSSECValidator/*.sdf
ie/DNSSECValidator/*.suo
ie/DNSSECValidator/DNSSECValidator/Debug/
ie/DNSSECValidator/DNSSECValidator/Release/
ie/DNSSECValidator/DNSSECValidator/*.aps
ie/DNSSECValidator/DNSSECValidator/*.user
ie/DNSSECValidator/DNSSECValidator/DNSSECValidator_i.c
ie/DNSSECValidator/DNSSECValidator/DNSSECValidator_i.h
ie/DNSSECValidator/DNSSECValidator/DNSSECValidator_p.c
ie/Installer/*.suo
ie/Installer/Installer/Installer/
ie/WTL81/
firefox/dnssec_validator-*.xpi
firefox/plugins/
firefox/install.rdf
plugin/FireBreath/
plugin/build/
tmp_build/
add-on/firefox2/content/about.xul
.*.swp

#compiled plugin libraries
chrome/*.so
chrome/*.dll
chrome/DNSSECValidatorPlugin.plugin

#packed Chrome extension and keys
*.crx
chrome.der
chrome.pem
