/* ***** BEGIN LICENSE BLOCK *****
Copyright 2012 CZ.NIC, z.s.p.o.

Authors: Martin Straka <martin.straka@nic.cz>

This file is part of DNSSEC Validator 2.0 Add-on.

DNSSEC Validator 2.0 Add-on is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DNSSEC Validator 2.0 Add-on is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
DNSSEC Validator 2.0 Add-on.  If not, see <http://www.gnu.org/licenses/>.
***** END LICENSE BLOCK ***** */


/* Key icon */
#dnssec-box.securedConnectionDomain > #dnssec-icon,
#dnssec-box.securedConnectionNoDomain > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_valid.png"); /* 35x16 */
}

#dnssec-box.genericError > #dnssec-icon,
#dnssec-box.unboundnodata > #dnssec-icon,
#dnssec-box.wrongresolver > #dnssec-icon,
#dnssec-box.errorDnssec > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_error.png"); /* 35x16 */
}


#dnssec-box.unsecuredDomain > #dnssec-icon,
#dnssec-box.unsecuredNoDomain > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_no.png"); /* 35x16 */
}


#dnssec-box.dnssecOff > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_off.png"); /* 35x16 */
}


#dnssec-box.actionDnssec > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_action.png"); /* 35x16 */
}


#dnssec-box.securedConnectionNoDomainIPaddr > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_orange.png"); /* 35x16 */
}


#dnssec-box.securedConnectionDomainInvIPaddr > #dnssec-icon,
#dnssec-box.securedConnectionNoDomainInvIPaddr > #dnssec-icon
{
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_ip.png"); /* 35x16 */
}

#dnssec-box.validDomainSignatureInvIPaddr > #dnssec-icon,
#dnssec-box.validNoDomainSignatureInvIPaddr > #dnssec-icon,
#dnssec-box.securedConnectionInvSigDomain > #dnssec-icon,
#dnssec-box.securedConnectionInvSigDomainInvIPaddr > #dnssec-icon,
#dnssec-box.invalidDomainSignature > #dnssec-icon,
#dnssec-box.invalidDomainSignatureInvIPaddr > #dnssec-icon,
#dnssec-box.invalidNoDomainSignature > #dnssec-icon,
#dnssec-box.invalidNoDomainSignatureInvIPaddr > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_bogus.png"); /* 35x16 */
}

#dnssec-box.validDomainSignature > #dnssec-icon,
#dnssec-box.validAuthDomainSignature > #dnssec-icon,
#dnssec-box.validNoDomainSignature > #dnssec-icon,
#dnssec-box.validAuthNoDomainSignature > #dnssec-icon {
  width: 19px;
  height: 19px;
  list-style-image: url("chrome://dnssec/skin/dnssec_init.png"); /* 35x16 */
}

#dnssec-box.inactionDnssec {
  display: none;
}

/* DNSSEC indicator */
#dnssec-outerbox {
  -moz-box-align: center;
}

#dnssec-box {
  width: 19px;
  height: 19px;
  padding: 0px 2px;
/*  background-color: rgba(221, 221, 221, 1.0);   grey */
/*  background-color: -moz-dialog; */
/*  color: -moz-dialogtext; */
/*  -moz-border-end: 1px solid ThreeDShadow; */
}


#dnssec-box:focus {
  outline: 1px dotted -moz-DialogText;
}

/*-----------------------------------------------------*/
/*----------------------ABOUT--------------------------*/
#dnssec-about-icon {
  padding: 0;
}

/* domain name text style */
#dnssec-about-content-box {
  max-width: 335px;
  padding-left: 10px;

}

#dnssec-about-container > #dnssec-about-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_valid.png"); 
}

#dnssec-about-window {
  padding: 10px 10px;
  background-color: -moz-dialog;
  color: -moz-dialogtext;
  font: -moz-dialog;
}

#about-title {
 font-weight: bold;
}


/*-----------------------------------------------------*/
/*----------------------FWD POPUP----------------------*/



#dnssec-popup-fwd-container > description {
  padding: 0px;
  margin: 0px;
  min-width: 200px;
  max-width: 300px;
  font-size: 90%;
}



/*-----------------------------------------------------*/
/*----------------------POPUP--------------------------*/

/* DNSSEC popup images */
#dnssec-popup-icon {
  padding: 0;
}

/* DNSSEC popup bounding box - title */
#dnssec-popup-container {
  min-width: 280px;
  padding: 10px;
  max-width: 400px;
}

/* grey */
#dnssec-popup.unsecuredDomain > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.unsecuredNoDomain > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_no.png"); 
}

/* orange */

#dnssec-popup.securedConnectionNoDomainIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.validDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.validAuthDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.validNoDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.validAuthNoDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_orange.png");
}

/* red */
#dnssec-popup.securedConnectionInvSigDomain > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.invalidDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.invalidNoDomainSignature > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_bogus.png"); 
}

/* red */
#dnssec-popup.securedConnectionDomainInvIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.securedConnectionNoDomainInvIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.securedConnectionInvSigDomainInvIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.validNoDomainSignatureInvIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.invalidNoDomainSignatureInvIPaddr > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_ip.png"); 
}

/* green */
#dnssec-popup.securedConnectionDomain > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.securedConnectionNoDomain > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_valid.png"); 
}

/* grey with error */


#dnssec-popup.genericError > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.unboundnodata > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.errorDnssec > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon,
#dnssec-popup.wrongresolver > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_error.png"); 
}

/* grey with error */
#dnssec-popup.dnssecOff > #dnssec-popup-container > #dnssec-popup-content-box > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/dnssec_off.png"); 
}

/* DNSSEC popup body text - title */
#dnssec-popup-content-box > label,
#dnssec-popup-content-box > description {
  white-space: pre-wrap;
  padding-left: 0px;
  margin: 0px;
  max-width: 335px;
}

/* DNSSEC popup body text - title */
#dnssec-popup-content-box2 > label,
#dnssec-popup-content-box2 > description {
  white-space: pre-wrap;
  padding-left: 10px;
  margin: 0px;
  max-width: 335px;
}

/* DNSSEC popup body text - title */
#dnssec-popup-content-box3 > label,
#dnssec-popup-content-box3 > description {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  min-width: 280px;
  max-width: 335px;
}

/* DNSSEC popup body text - title */
#dnssec-popup-content-box4 > label,
#dnssec-popup-content-box4 > description {
  margin: 0px;
  min-width: 280px;
  max-width: 335px;
}


/* label text style */
#dnssec-popup-securedLabel,
#dnssec-popup-errorLabel,
#dnssec-popup-bogusLabel,
#dnssec-popup-unsecuredLabel,
#dnssec-popup-dnssecOffLabel,
#dnssec-popup-wrongresLabel {
  font-weight: bold;
  max-width: 335px;
  font-size: 120%;
  display: none;
}

/* message text style */
#dnssec-popup-domainLabel,
#dnssec-popup-nodomainLabel,
#dnssec-popup-securedDomainLabel,
#dnssec-popup-unsecuredDomainLabel {
  display: none;
}

/* domain name text style */
#dnssec-popup-content-host {
  font-weight: bold;
  max-width: 335px;
}

/* domain name text style */
#dnssec-popup-content-host-text {
}

/* DNSSEC popup bounding box - title */
#dnssec-popup-container {
  min-width: 280px;
  padding: 0px;
  max-width: 335px;
}

#dnssec-popup-homepage {
  padding-top: 8px;
  font-size: 90%;
}


#dnssec-popup-ipbrowser-title {
  padding-top: 8px;
  font-size: 90%;
}

#dnssec-popup-ipvalidator-title {
  padding-top: 5px;
  font-size: 90%;
}

#dnssec-popup-ipbrowser-ip {
  font-weight: bold;
  font-size: 90%;
}

#dnssec-popup-ipvalidator-ip {
  font-weight: bold;
  font-size: 90%;
}


/* DNSSEC popup UI */



#dnssec-popup-content-box > #dnssec-popup-content-box2.dnssecOff > #dnssec-popup-dnssecOffLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unboundnodata > #dnssec-popup-wrongresLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.wrongresolver > #dnssec-popup-wrongresLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.errorDnssec > #dnssec-popup-errorLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.genericError > #dnssec-popup-errorLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionNoDomainIPaddr > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionNoDomainIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.securedConnectionNoDomainIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionDomain > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.securedConnectionDomain > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionDomainInvIPaddr > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionDomainInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.securedConnectionDomainInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionNoDomainInvIPaddr > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionNoDomainInvIPaddr > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.securedConnectionNoDomainInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionNoDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionNoDomain > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.securedConnectionNoDomain > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionInvSigDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionInvSigDomain > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.securedConnectionInvSigDomain > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.securedConnectionInvSigDomainInvIPaddr > #dnssec-popup-securedLabel,
#dnssec-popup-content-box3.securedConnectionInvSigDomainInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.securedConnectionInvSigDomainInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validDomainSignature > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.validDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validAuthDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validAuthDomainSignature > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.validAuthDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validDomainSignatureInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.validDomainSignatureInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.invalidDomainSignature > #dnssec-popup-bogusLabel,
#dnssec-popup-content-box3.invalidDomainSignature > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.invalidDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.invalidDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.invalidDomainSignatureInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box3.invalidDomainSignatureInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validNoDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validNoDomainSignature > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.validNoDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validAuthNoDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validAuthNoDomainSignature > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.validAuthNoDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.validNoDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.validNoDomainSignatureInvIPaddr > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.validNoDomainSignatureInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.invalidNoDomainSignature > #dnssec-popup-bogusLabel,
#dnssec-popup-content-box3.invalidNoDomainSignature > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.invalidNoDomainSignature > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.invalidNoDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.invalidNoDomainSignatureInvIPaddr > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box3.invalidNoDomainSignatureInvIPaddr > #dnssec-popup-securedDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unsecuredDomain > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box3.unsecuredDomain > #dnssec-popup-domainLabel,
#dnssec-popup-content-box4.links > #dnssec-popup-links,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unsecuredDomain > #dnssec-popup-unsecuredDomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unsecuredNoDomain > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unsecuredNoDomain > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box > #dnssec-popup-content-box2.unsecuredNoDomain > #dnssec-popup-unsecuredDomainLabel {
  display: inline;
}
